In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

In [2]:
%load_ext sql

In [3]:
%sql postgresql://root:root@localhost:5432/ny_taxi

In [4]:
#Answer of Question 3
%sql SELECT count( to_char(lpep_pickup_datetime, 'DD/MM/YY')) from green_taxi_data WHERE to_char(lpep_pickup_datetime, 'DD/MM/YY') = '18/09/19' AND to_char(lpep_dropoff_datetime, 'DD/MM/YY') = '18/09/19' ;

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(15612,)]

In [9]:
#Answer of Question 4
%sql SELECT to_char(lpep_pickup_datetime, 'DD/MM/YY'), SUM(trip_distance) Total from green_taxi_data group by lpep_pickup_datetime order by SUM(trip_distance) DESC limit(5);

 * postgresql://root:***@localhost:5432/ny_taxi
5 rows affected.

[('26/09/19', 341.64),
 ('21/09/19', 135.53),
 ('15/09/19', 130.53),
 ('16/09/19', 114.3),
 ('18/09/19', 108.57)]

In [12]:
%%sql 
SELECT 
	ROUND(SUM(green_taxi_data."total_amount")) "Total"
	,zones."Borough"
From green_taxi_data  
LEFT JOIN zones ON green_taxi_data."PULocationID"  = zones."LocationID"
WHERE to_char(green_taxi_data.lpep_pickup_datetime, 'DD/MM/YY') = '18/09/19' AND zones."Borough" <> 'Unknown'
Group By zones."Borough"
Order By SUM(green_taxi_data.total_amount) DESC;

 * postgresql://root:***@localhost:5432/ny_taxi
5 rows affected.

[(96333.0, 'Brooklyn'),
 (92271.0, 'Manhattan'),
 (78672.0, 'Queens'),
 (32830.0, 'Bronx'),
 (343.0, 'Staten Island')]

In [15]:
%%sql
WITH ny as(
	SELECT
	    taxi_data.*,
	    CONCAT(zones_pickup."Borough", ' - ', zones_pickup."Zone") AS PU_Location,
	    CONCAT(zones_drop."Borough", ' - ', zones_drop."Zone") AS DO_Location
	FROM
	    green_taxi_data taxi_data
	LEFT JOIN
	    zones zones_pickup ON taxi_data."PULocationID"  = zones_pickup."LocationID"
	LEFT JOIN
	    zones zones_drop ON taxi_data."DOLocationID"  = zones_drop."LocationID"
	)
	SELECT max(tip_amount ) as tp,do_location FROM ny
	where 
	    EXTRACT(MONTH FROM lpep_pickup_datetime) = 9
	    AND EXTRACT(YEAR FROM lpep_pickup_datetime) = 2019
	    AND "PULocationID" = '7'
	    AND  passenger_count >= '1'
	group by do_location
	order by tp desc limit 1

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(62.31, 'Queens - JFK Airport')]