In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
df = pd.read_csv('csvfiles/green_tripdata_2019-09.csv', nrows=100)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [6]:
pip install Flask-SQLAlchemy

Collecting Flask-SQLAlchemy
  Downloading flask_sqlalchemy-3.1.1-py3-none-any.whl.metadata (3.4 kB)
Collecting flask>=2.2.5 (from Flask-SQLAlchemy)
  Downloading flask-3.0.1-py3-none-any.whl.metadata (3.6 kB)
Collecting sqlalchemy>=2.0.16 (from Flask-SQLAlchemy)
  Downloading SQLAlchemy-2.0.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting Werkzeug>=3.0.0 (from flask>=2.2.5->Flask-SQLAlchemy)
  Downloading werkzeug-3.0.1-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: Jinja2>=3.1.2 in /home/codespace/.local/lib/python3.10/site-packages (from flask>=2.2.5->Flask-SQLAlchemy) (3.1.2)
Collecting itsdangerous>=2.1.2 (from flask>=2.2.5->Flask-SQLAlchemy)
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: click>=8.1.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from flask>=2.2.5->Flask-SQLAlchemy) (8.1.7)
Collecting blinker>=1.6.2 (from flask>=2.2.5->Flask-SQLAlchemy)
  Downloading blinker-1.7.0-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0.16->Flask-SQLAlchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0.16->Flask-SQLAlchemy)
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from Jinja2>=3.1.2->flask>=2.2.5->Flask-SQLAlchemy) (2.1.3)
Downloading flask_sqlalchemy-3.1.1-py3-none-any.whl (25 kB)
Downloading flask-3.0.1-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.2/101.2 kB 2.4 MB/s eta 0:00:001 MB/s eta 0:00:01
Downloading SQLAlchemy-2.0.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 36.9 MB/s eta 0:00:000m eta 0:00:01
Downloading blinker-1.7.0-py3-none-any.whl (13 kB)
Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 kB 13.6 MB/s eta 0:00:00m eta 0:00:01
Downloading werkzeug-3.0.1-py3-none-any.whl (226 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 226.7/226.7 kB 5.4 MB/s eta 0:00:000m eta 0:00:01
Installing collected packages: Werkzeug, itsdangerous, greenlet, blinker, sqlalchemy, flask, Flask-SQLAlchemy
Successfully installed Flask-SQLAlchemy-3.1.1 Werkzeug-3.0.1 blinker-1.7.0 flask-3.0.1 greenlet-3.0.3 itsdangerous-2.1.2 sqlalchemy-2.0.25
Note: you may need to restart the kernel to use updated packages.

In [6]:
from sqlalchemy import create_engine

In [3]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 8.1 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584128 sha256=94b42f3f05c1fa544d2ee4b480818f58ccc42f349e5dcd43bea5ee59fc492643
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
df_iter = pd.read_csv('csvfiles/green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [11]:
df = next(df_iter)

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [14]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 7.08 s, sys: 110 ms, total: 7.19 s
Wall time: 10.5 s

1000

In [16]:
from time import time

In [17]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.300 second
inserted another chunk, took 10.646 second

/tmp/ipykernel_34555/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.975 second
inserted another chunk, took 4.238 second

StopIteration:

In [18]:
df_zones = pd.read_csv('csvfiles/taxi+_zone_lookup.csv')

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265